* {
  font-family: "Young Serif", serif;
}

body {
  overflow: auto;
  background-color: #E7CEA6;
  margin: 0;
}

#div-titulo {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgb(10, 110, 189);
  border-radius: 5px;
  color: black h1;
  color-margin: 0;
  color-color: black;
}

#botones-nav {
  overflow: auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

.botones {
  text-decoration: none;
  padding: 0.5em;
  background-color: rgb(90, 150, 227);
  border: 2px black solid;
  border-radius: 10px;
  margin: 0em 1em;
  transition: 0.4s cubic-bezier(0.4, 0, 1, 1);
}

.botones:hover {
  background-color: rgb(161, 194, 241);
  box-shadow: 3px 3px 0.8rem rgba(10, 110, 189, 0.7);
  cursor: pointer;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.articuloscentrados {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portada {
  width: 25rem;
  height: 35rem;
  background-color: rgb(161, 194, 241);
  border: 2px black solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

.a-portada {
  font-style: italic;
  font-size: 1.2rem;
}

#portada p {
  width: 99%;
  height: 50%;
  overflow: scroll;
}

#portada img {
  max-width: 100%;
}

#portada p::-webkit-scrollbar {
  display: none;
}

#div-redes {
  width: 100%;
  height: 4rem;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
  border-radius: 5px;
}

#div-redes img {
  width: 2rem;
}

.fondo {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#divhistoria {
  border-radius: 5px;
  display: block;
  width: 50rem;
  border: 2px black solid;
  background-color: rgb(161, 194, 241);
}

#tithistoria {
  width: 90%;
  align-items: center;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fotoshistoria {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fotoshistoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fotoshistoria img {
  width: 90%;
}

#wccontanto {
  width: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wyc {
  background-color: white;
  border-radius: 10px;
  border: 5px rgb(10, 110, 189) solid;
  box-shadow: 3px 3px 0.8rem rgba(10, 100, 179, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wyc img {
  width: 70%;
}

.wyc p {
  font-size: 1rem;
}

#sctcontacto {
  display: flex;
  justify-content: center;
}

#icontacto {
  border-radius: 7px;
  border: 2px black solid;
  background-color: rgb(161, 194, 241);
  width: 25rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.detacontacto {
  margin: 0.1rem;
}

/*# sourceMappingURL=styles.css.map */
